CompileFlags:
  Add: ["-I/lib/modules/7.1.13-200.fc44.x86_64/build/include"]
  Compiler: clang

Diagnostics:
  UnusedIncludes: Strict

InlayHints:
  Enabled: Yes
  ParameterNames: Yes
  DeducedTypes: Yes
  BlockEnd: true
  DefaultArguments: true

Hover:
  ShowAKA: Yes

# Clang 22
Documentation:
  CommentFormat: Markdown
